/*Google Font Mix-ins*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Stylish');

/*Nav Bar Spacing for Logo*/
# mainlogo{
    max-width: :120px;
    margin-top: -7px;
}

.button_space {
    margin-top: 2%;
}

/*Basic Font Styles*/
p {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-family: 'Stylish', sans-serif;
}
a .nav-item {
    font-family: 'IBM Plex Sans', sans-serif;
    color:deepskyblue;
}
body{
    background-color:azure;
}

/*
body{
    background: url(../images/11-7-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/