{% extends "header.html" %}

{% block body %}

<h1>Hello and welcome to Taxulator!</h1>

<p>Taxulator is a website designed to assist you and enhance your shopping experience. It is a free service to you and you can quit at any time. This website will allow you to see what you will be paying for what is in your cart, including taxes, before you reach the cash register. This will allow you to make better infromed decisions as to what you want to buy. You can also add a shopping list as well as a budget to keep you on track with your spending. </p>

{% endblock %}